{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/base.css' %}">


{% block content %}
<div class="container h-100">
    <div class="row align-items-center py-5">
        <!-- Let's Chat Button -->
        <div class="col-12 col-md-4 d-flex justify-content-start align-items-end">
            <div class="my-3" style="padding-left: 50%;">
                <h4>
                    <a href="#" class="shop-now-button btn btn-lg rounded-1 text-uppercase py-3">Let's Chat</a>
                </h4>
            </div>
        </div>

        <!-- Hero Image -->
        <div class="col-12 col-md-8">
            <div class="container mt-4 d-flex justify-content-center" style="padding-top: 80px; padding-bottom: 60px;">
                <img class="img-fluid" id="hero" src="media/hero.png" alt="hero image quote" style="width: 50%;">
            </div>
        </div>
    </div>
</div>

<!--Portfolio Work -->

<div class="container-fluid">
    <div class="row no-gutters">
    <div class="col-6 col-md-3">
            <img src="/media/portfolio/shop2.jpg" class="img-fluid" alt="Work 1">
        </div>
        <div class="col-6 col-md-3">
            <img src="/media/portfolio/filmcover.jpg" class="img-fluid" alt="Work 2">
        </div>
        <div class="col-6 col-md-3">
            <img src="/media/portfolio/product2.png" class="img-fluid" alt="Work 3">
        </div>
        <div class="col-6 col-md-3">
            <img src="/media/portfolio/shop1.jpg" class="img-fluid" alt="Work 4">
        </div>
        <div class="col-6 col-md-3">
            <img src="/media/portfolio/" class="img-fluid" alt="Work 5">
        </div>
        <div class="col-6 col-md-3">
            <img src="/media/portfolio/" class="img-fluid" alt="Work 6">
        </div>
        <div class="col-6 col-md-3">
            <img src="/media/portfolio/" class="img-fluid" alt="Work 7">
        </div>
        <div class="col-6 col-md-3">
            <img src="/media/portfolio/" class="img-fluid" alt="Work 8">
        </div>
        <div class="col-6 col-md-3">
            <img src="/media/portfolio/" class="img-fluid" alt="Work 9">
        </div>
        <div class="col-6 col-md-3">
            <img src="/media/portfolio/" class="img-fluid" alt="Work 10">
        </div>
        <div class="col-6 col-md-3">
            <img src="/media/portfolio/" class="img-fluid" alt="Work 11">
        </div>
        <div class="col-6 col-md-3">
            <img src="/media/portfolio/" class="img-fluid" alt="Work 12">
        </div>
    </div>
</div>




<!-- Why choose us -->
<section class="row d-flex justify-content-center">
    <div class="col-12 col-lg-4 text-center text-lg-left" style="padding-top: 40px; padding-bottom: 40px;">
        <h2 class="logo-font my-0" style="color: #334039;">Why choose <strong>Design</strong> Fox?</h2>
    </div>

    <div class="d-flex justify-content-center text-center gap-4" style="padding-bottom: 40px;">
        <div class="d-flex flex-column align-items-center mx-2">
            <i class="fa-solid fa-wand-magic-sparkles" style="font-size: 4rem; margin-bottom: 1.5rem; color: #334039;"></i>
            <h2 class="display-6 font-Black">Captivate</h2>
            <p>Grab attention and leave a lasting impression</p>
        </div>
    
        <div class="d-flex flex-column align-items-center mx-2">
            <i class="fa-regular fa-user" style="font-size: 4rem; margin-bottom: 1.5rem; color: #334039;"></i>
            <h2 class="display-6 font-Black">Engage</h2>
            <p>Connect with your audience through compelling visuals</p>
        </div>
    
        <div class="d-flex flex-column align-items-center mx-2">
            <i class="fa-solid fa-seedling" style="font-size: 4rem; margin-bottom: 1.5rem; color:#334039;"></i>
            <h2 class="display-6 font-Black">Elevate</h2>
            <p>Take your brand to the next level with impactful design</p>
        </div>
    </div>
    
</section>


{% endblock %}