{% extends 'base.html' %}

{% block content %}
<div class="col">
    <hr>
    <h2 class="logo-font mb-4" style="padding-top: 80px; padding-bottom: 10px;">Wishlist</h2>
    <hr>
</div>

{% if wishlist_items %}
    <ul>
        {% for item in wishlist_items %}
            <li>
                <a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a>
                - Added on {{ item.added_on }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Your wishlist is empty.</p>
{% endif %}

{% endblock %}
