{% extends 'base.html' %}

{% block content %}
<div class="col">
    <hr>
    <h2 class="logo-font mb-4" style="padding-top: 80px; padding-bottom: 10px;">Wishlist</h2>
    <hr>
</div>

<div class="container">

    {% if wishlist_items %}
        <ul class="list-group">
            {% for item in wishlist_items %}
                <li class="list-group-item">
                    <strong>{{ item.product.name }}</strong><br>
                    Added on: {{ item.added_on|date:"M d, Y" }}<br>
                    <form method="POST" action="{% url 'wishlist:remove_from_wishlist' item.product.id %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm mt-2">Remove</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Your wishlist is empty!</p>
    {% endif %}
</div>
{% endblock %}
