/* General */
html {
    height: 100%;
}

body {
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

header {
    background-color: white;
}

.dropdown-menu {
    min-width: 200px;
}


.shop-now-button {
    background: #334039;
    color: white;
    min-width: 260px;
}



/* dropdown menu on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* Footer */

.footer-bg {
background-color: #334039;
}

.social-links i {
color:  white;
font-size: 1.5rem;
margin: 0.7rem;
    }