<div class="collapse navbar-collapse" id="main-nav"></div>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               About
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Portfolio
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Clothing</a>
                <a href="" class="dropdown-item">Accessories</a>
                <a href="" class="dropdown-item">Prints</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Design Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Logo Design</a>
                <a href="" class="dropdown-item">Branding</a>
                <a href="" class="dropdown-item">Poster Design</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Design Quote
            </a>
        </li>
    </ul>
</div>