{% load static %}


<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto">
        <!-- About Section -->
        <li class="nav-item dropdown">
            <a class="nav-link font-weight-bold text-dark mx-3" href="{% url 'about' %}" id="about-link" aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <a class="nav-link dropdown-toggle d-none" href="#" id="about-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu border-0 shadow" aria-labelledby="about-dropdown">
                <a href="/#portfolio" class="dropdown-item">Portfolio</a>
                <a href="{% url 'about' %}" class="dropdown-item">About</a>
            </div>
        </li>

        <!-- Shop Section -->
        <li class="nav-item dropdown">
            <a class="nav-link font-weight-bold text-dark mx-3" href="{% url 'products' %}" id="shop-link">
                Shop
            </a>
            <a class="nav-link dropdown-toggle d-none" href="#" id="shop-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu border-0 shadow" aria-labelledby="shop-dropdown">
                <a href="{% url 'products' %}?category=Accessories" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=Prints" class="dropdown-item">Prints</a>
            </div>
        </li>

        <!-- Services Section -->
        <li class="nav-item">
            <a class="nav-link font-weight-bold text-dark mx-3" href="{% url 'services' %}" id="services-link">
                Services
            </a>
        </li>

        <!-- Testimonials Section -->
        <li class="nav-item">
            <a class="nav-link font-weight-bold text-dark mx-3" href="{% url 'testimonial_list' %}" id="testimonials-link">
                Testimonials
            </a>
        </li>

        <!-- Design Quote Section -->
        <li class="nav-item">
            <a class="nav-link font-weight-bold text-dark mx-3" href="{% url 'design_quote_request' %}" id="design-quote-link">
                Design Quote
            </a>
        </li>

        <!-- Contact Section -->
        <li class="nav-item">
            <a class="nav-link font-weight-bold text-dark mx-3" href="{% url 'contact' %}" id="contact-link">
                Contact
            </a>
        </li>
    </ul>
</div>
