<div class="collapse navbar-collapse" id="main-nav"></div>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               About
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="portfolio-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Portfolio
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="shop-link">
                Shop
            </a>
            <a class="nav-link dropdown text-black" href="#" id="shop-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-dropdown">
                <a href="#" class="dropdown-item">Clothing</a>
                <a href="#" class="dropdown-item">Accessories</a>
                <a href="#" class="dropdown-item">Prints</a>
            </div>
        </li>
        

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="design-services-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Design Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Logo Design</a>
                <a href="" class="dropdown-item">Branding</a>
                <a href="" class="dropdown-item">Poster Design</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="design-quote-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Design Quote
            </a>
        </li>
    </ul>
</div>